<div class="logCreate">
  <form #myform="ngForm" (ngSubmit)="loadall()" name="myForm">
    <input type="date" id="date" name="date" ngModel required/>
    <input type="submit" style="margin-left: 4px" >
  </form>
  </div>


  <table id="customers">
      <thead>
      <th>stream</th>
      <th>event-type</th>
      <th>risk-level</th>
      <th>date</th>
      </thead>
      <tbody>
      <tr *ngFor="let res of responseJson">
      <td>{{res.stream}}</td>
      <td>{{res.eventType}}</td>
      <td>{{res.riskLevelId}}</td>
      <td>{{res.date}}</td>
      </tr>
      </tbody>
      </table>